#sathvik{
    flex-wrap: wrap;
}
body {

    /* background-color: rgb(251, 223, 223); */
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    background: #ffffff;
    /* color: #7a7a7a; */
    margin: 40px 0;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: auto;
    line-height: 1;
    font-family: 'Gentium Basic', serif;
    /* background: url('https://source.unsplash.com/1600x900/?landscape,mountains,creativephotography') no-repeat center center/cover;
    */
}


h4 {
    font-family: cursive;
    font-size: 20px;
    /* line-height: 1.3em; */
    font-style: italic;
    /* font-weight: 100; */
    /* text-shadow: yellow; */

    font-size: 27px;
    line-height: 31px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 0;
}

#strongnew {
    font-family: 'Gentium Book Plus', serif;
    ;
    padding: 3px;
    margin-left: 50px;
}

#margin {
    background-color: rgb(155, 155, 195);
    border: 3px solid rgb(32, 80, 226);
    margin-left: 1100px;
    padding: 25px;
    margin-bottom: -20px;
    border-radius: 23px;
    width: 350px;
    box-sizing: border-box;
    /* box-shadow: 8px 10px rgb(153, 153, 247); */
}

#new {
    text-decoration: underline;
}

/* h2 {
    color: yellow;
    text-shadow: 0 0 2px black;


} */

#grad {
    background-image: linear-gradient(to right, red, blue);
}

#thirdpara {
    background-image: url('https://photos.app.goo.gl/zRNym4oHZ2wMVWtB7');

}


/* #new{
    height: auto;
    max-width: 100%;
    height: 1000px;
    width: 300px;
    background-image: url('sathvik.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 50px;
}
    */


#topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

/* gallery */
div.gallery {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}




@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* gallery close */

/* margins and padding as well as borders */
.polaroidnew {
    width: 10%;
    height: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 1200px;
    margin-top: -20px;


}

footer {
    font-size: 11px;
    margin-bottom: 50px;
}

div {
    display: block;
}


/* headear */
.navbar {
    background-color: black;
    border-radius: 30px;

}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding-top: 1px;

}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.search {
    float: right;
    color: white;
    padding: 12px 75px;
    border-radius: 4px solid white;
}

.navabarinput {
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px 17px;
}
#sathvik{
    flex-wrap: wrap;
}
a[target]{
    color: rgb(132, 104, 241);
    font-size: 18px;
    
}
.say{
    display: block;
    margin: auto;
    width: 50px;
    text-align: center;
}
